ops/outreach/n8n/02-inbound.json
{
  "name": "Oficio · Outreach Inbound (clasificador)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "oficio-whatsapp-inbound",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-in",
      "name": "Webhook · WhatsApp inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// Extrae teléfono + texto del payload entrante (forma WhatsApp Cloud API / 360dialog).\nconst b = $json.body || $json;\nlet phone = '', text = '';\ntry {\n  const v = b.entry?.[0]?.changes?.[0]?.value;\n  const m = v?.messages?.[0];\n  phone = m?.from || '';\n  text = m?.text?.body || m?.button?.text || m?.interactive?.button_reply?.title || '';\n} catch (e) {}\nif (phone && !phone.startsWith('+')) phone = '+' + phone;\nreturn [{ json: { phone, text } }];"
      },
      "id": "extract-msg",
      "name": "Extract message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/prospects?phone=eq.{{ encodeURIComponent($json.phone) }}&select=name,rubro,ciudad&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "options": {}
      },
      "id": "get-context",
      "name": "Supabase · prospect context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "// Une el mensaje con el contexto del prospecto y arma el payload de Anthropic.\nconst ex = $('Extract message').first().json;\nconst arr = $input.first().json;\nconst p = Array.isArray(arr) ? (arr[0] || {}) : (arr || {});\nconst system = `Sos el clasificador de respuestas de Oficio, un marketplace de oficios del corredor andino (San Martin de los Andes, Villa La Angostura, Bariloche). Contactamos a un prestador por WhatsApp para invitarlo a sumarse (aparecer gratis; suscripcion mensual opcional). Te paso su respuesta. Devolve SOLO un JSON valido: {\\\"intent\\\":\\\"interested|not_now|price_question|registered|objection|unclassified\\\",\\\"suggested_reply\\\":\\\"respuesta breve en espanol argentino voseante, max 2 oraciones\\\"}. interested: quiere sumarse/pide link/dice si. price_question: pregunta precio/comisiones/planes. not_now: ahora no, sin rechazo tajante. registered: ya se registro. objection: desconfia, dice que no, pide que no insistan, o BAJA. unclassified: ambiguo. Reglas reply: voseo siempre; si interested ofrece https://oficioya.app/registro/prestador; si price_question resume planes (Basico 20000, Profesional 35000, Destacado 55000 ARS) y ofrece el link; si registered felicita y menciona verificacion DNI/matricula; nunca prometas clientes garantizados ni inventes datos; moneda solo ARS.`;\nconst userMsg = `Mensaje del prestador:\\n\"\"\"${ex.text}\"\"\"\\nContexto: rubro=${p.rubro||''}, ciudad=${p.ciudad||''}, nombre=${p.name||''}.`;\nconst model = ($env && $env.ANTHROPIC_MODEL) ? $env.ANTHROPIC_MODEL : 'claude-3-5-sonnet-latest';\nconst anthropicPayload = { model, max_tokens: 400, system, messages: [{ role: 'user', content: userMsg }] };\nreturn [{ json: { phone: ex.phone, text: ex.text, name: p.name||'', rubro: p.rubro||'', ciudad: p.ciudad||'', anthropicPayload } }];"
      },
      "id": "build-context",
      "name": "Build context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.anthropicPayload }}",
        "options": {}
      },
      "id": "anthropic",
      "name": "Claude · clasificar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "jsCode": "// Parsea el JSON del modelo y arma los patches para outreach_log y prospects.\nconst ctx = $('Build context').first().json;\nconst raw = $json.content?.[0]?.text ?? '';\nlet parsed = { intent: 'unclassified', suggested_reply: '' };\ntry { parsed = JSON.parse(raw); } catch (e) {}\nconst intent = parsed.intent || 'unclassified';\nconst reply = parsed.suggested_reply || '';\nconst isOptOut = /\\bbaja\\b/i.test(ctx.text || '');\nconst now = new Date().toISOString();\nlet prospectStatus = 'contactado';\nif (intent === 'interested') prospectStatus = 'interesado';\nif (intent === 'registered') prospectStatus = 'registrado';\nif (isOptOut) prospectStatus = 'descartado';\nconst logPatch = { response_text: ctx.text, response_at: now, intent, suggested_reply: reply, replied_at: now };\nif (intent === 'registered') { logPatch.converted = true; logPatch.converted_at = now; }\nif (intent === 'not_now') { const d = new Date(Date.now() + 14*24*3600*1000); logPatch.follow_up_scheduled_at = d.toISOString(); }\nconst sendReply = !isOptOut && reply.length > 0;\nreturn [{ json: { phone: ctx.phone, suggested_reply: reply, sendReply, logPatch, prospectPatch: { status: prospectStatus } } }];"
      },
      "id": "parse",
      "name": "Parse + patches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.WHATSAPP_API_URL}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "D360-API-KEY", "value": "={{$env.WHATSAPP_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $json.phone.replace('+','') }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": {{ JSON.stringify($json.suggested_reply) }} }\n}",
        "options": {}
      },
      "id": "send-reply",
      "name": "WhatsApp · responder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/outreach_log?provider_phone=eq.{{ encodeURIComponent($('Parse + patches').item.json.phone) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Parse + patches').item.json.logPatch }}",
        "options": {}
      },
      "id": "patch-log",
      "name": "Supabase · update outreach_log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/prospects?phone=eq.{{ encodeURIComponent($('Parse + patches').item.json.phone) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Parse + patches').item.json.prospectPatch }}",
        "options": {}
      },
      "id": "patch-prospect",
      "name": "Supabase · update prospects",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 0]
    }
  ],
  "connections": {
    "Webhook · WhatsApp inbound": { "main": [[{ "node": "Extract message", "type": "main", "index": 0 }]] },
    "Extract message": { "main": [[{ "node": "Supabase · prospect context", "type": "main", "index": 0 }]] },
    "Supabase · prospect context": { "main": [[{ "node": "Build context", "type": "main", "index": 0 }]] },
    "Build context": { "main": [[{ "node": "Claude · clasificar", "type": "main", "index": 0 }]] },
    "Claude · clasificar": { "main": [[{ "node": "Parse + patches", "type": "main", "index": 0 }]] },
    "Parse + patches": { "main": [[{ "node": "WhatsApp · responder", "type": "main", "index": 0 }]] },
    "WhatsApp · responder": { "main": [[{ "node": "Supabase · update outreach_log", "type": "main", "index": 0 }]] },
    "Supabase · update outreach_log": { "main": [[{ "node": "Supabase · update prospects", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
