n8n/emergency-matching.workflow.json
{
  "name": "Oficio — Emergency Matching",
  "nodes": [
    {
      "id": "node-trigger",
      "name": "POST /webhook/emergency",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 200],
      "parameters": {
        "path": "emergency",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "node-get-providers",
      "name": "Supabase: Get Emergency Providers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 200],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/providers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Accept",        "value": "application/json" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select",                  "value": "id,name,phone,whatsapp_number,rubro_id,ciudad_id,subscription_tier_id,rating" },
            { "name": "ciudad_id",               "value": "=eq.{{ $json.body.ciudad_id }}" },
            { "name": "rubro_id",                "value": "=eq.{{ $json.body.rubro_id }}" },
            { "name": "is_emergency_available",  "value": "=eq.true" },
            { "name": "subscription_tier_id",    "value": "=in.(profesional,destacado)" },
            { "name": "status",                  "value": "=eq.active" },
            { "name": "limit",                   "value": "5" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-sort-providers",
      "name": "Code: Sort by Tier then Rating",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 200],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// destacado > profesional, then rating DESC within each tier\nconst tierRank = { destacado: 0, profesional: 1 };\nconst clientPhone = $('POST /webhook/emergency').first().json.body.client_phone;\nconst ciudadId    = $('POST /webhook/emergency').first().json.body.ciudad_id;\nconst rubroId     = $('POST /webhook/emergency').first().json.body.rubro_id;\n\nconst sorted = items\n  .slice()\n  .sort((a, b) => {\n    const ra = tierRank[a.json.subscription_tier_id] ?? 2;\n    const rb = tierRank[b.json.subscription_tier_id] ?? 2;\n    if (ra !== rb) return ra - rb;\n    return b.json.rating - a.json.rating;\n  });\n\n// Attach request context to every item so downstream nodes can access it\nreturn sorted.map(item => ({\n  json: {\n    ...item.json,\n    _ctx: { clientPhone, ciudadId, rubroId }\n  }\n}));"
      }
    },
    {
      "id": "node-if-has-providers",
      "name": "IF: Providers Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 200],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-has-providers",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-wa-no-providers",
      "name": "WhatsApp: Sin profesionales disponibles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 400],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WHATSAPP_API_URL }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "D360-API-KEY", "value": "={{ $env.WHATSAPP_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('POST /webhook/emergency').first().json.body.client_phone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"Lo sentimos, no hay profesionales de emergencia disponibles ahora mismo en {{ $('POST /webhook/emergency').first().json.body.ciudad_id }} para ese rubro. Intentá de nuevo en unos minutos o contactanos al +5492972000000.\" }\n}",
        "options": {}
      }
    },
    {
      "id": "node-respond-no-providers",
      "name": "Respond: No hay profesionales",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": false, \"reason\": \"no_providers\" }",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "node-create-request",
      "name": "Supabase: Create Emergency Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 0],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/emergency_requests",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"client_phone\": \"{{ $('POST /webhook/emergency').first().json.body.client_phone }}\",\n  \"rubro_id\":    \"{{ $('POST /webhook/emergency').first().json.body.rubro_id }}\",\n  \"ciudad_id\":   \"{{ $('POST /webhook/emergency').first().json.body.ciudad_id }}\",\n  \"status\":      \"searching\",\n  \"provider_queue\": {{ JSON.stringify($input.all().map(i => i.json.id)) }},\n  \"current_index\": 0\n}",
        "options": {}
      }
    },
    {
      "id": "node-split-batches",
      "name": "Loop: Providers Queue",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1200, 0],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "node-check-status",
      "name": "Supabase: Check Request Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 0],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/emergency_requests",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,status,current_index,n8n_resume_url" },
            { "name": "id",     "value": "=eq.{{ $('Supabase: Create Emergency Request').first().json.id }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-if-still-searching",
      "name": "IF: Still Searching?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1680, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-searching",
              "leftValue": "={{ $json.status }}",
              "rightValue": "searching",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-store-resume-url",
      "name": "Supabase: Store Resume URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, -200],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/emergency_requests?id=eq.{{ $('Supabase: Create Emergency Request').first().json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={ \"n8n_resume_url\": \"{{ $execution.resumeUrl }}\" }",
        "options": {}
      }
    },
    {
      "id": "node-wa-send-provider",
      "name": "WhatsApp: Solicitud a Prestador",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, -200],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WHATSAPP_API_URL }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "D360-API-KEY", "value": "={{ $env.WHATSAPP_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Loop: Providers Queue').first().json.whatsapp_number }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"🔴 *Solicitud de emergencia* — Oficio\\n\\nTenés una solicitud de emergencia en *{{ $('POST /webhook/emergency').first().json.body.ciudad_id }}*.\\n\\n*Rubro:* {{ $('POST /webhook/emergency').first().json.body.rubro_id }}\\n*Tarifa:* $20.000 ARS por contacto\\n\\nRespondé *SI* para aceptar o *NO* para rechazar. Tenés *90 segundos*.\"\n  }\n}",
        "options": {}
      }
    },
    {
      "id": "node-wait-response",
      "name": "Wait: Respuesta del Prestador (90s)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2400, -200],
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "/provider-response"
        }
      },
      "webhookId": "wait-provider-response"
    },
    {
      "id": "node-if-accepted",
      "name": "IF: Prestador Aceptó?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2640, -200],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-accepted",
              "leftValue": "={{ $json.body.response }}",
              "rightValue": "SI",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-update-matched",
      "name": "Supabase: Update — Matched",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, -400],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/emergency_requests?id=eq.{{ $('Supabase: Create Emergency Request').first().json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"status\": \"matched\",\n  \"matched_provider_id\": \"{{ $('Loop: Providers Queue').first().json.id }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "node-mp-create-preference",
      "name": "MercadoPago: Create Preference",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3120, -400],
      "parameters": {
        "method": "POST",
        "url": "https://api.mercadopago.com/checkout/preferences",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.MP_ACCESS_TOKEN }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"items\": [{\n    \"title\": \"Contacto de emergencia — Oficio\",\n    \"description\": \"{{ $('POST /webhook/emergency').first().json.body.rubro_id }} en {{ $('POST /webhook/emergency').first().json.body.ciudad_id }}\",\n    \"quantity\": 1,\n    \"unit_price\": 20000,\n    \"currency_id\": \"ARS\"\n  }],\n  \"payer\": {\n    \"phone\": { \"number\": \"{{ $('POST /webhook/emergency').first().json.body.client_phone }}\" }\n  },\n  \"external_reference\": \"{{ $('Supabase: Create Emergency Request').first().json.id }}\",\n  \"notification_url\": \"{{ $env.N8N_BASE_URL }}/webhook/mp-payment-confirmed\",\n  \"back_urls\": {\n    \"success\": \"{{ $env.APP_URL }}/emergencias?status=paid\",\n    \"failure\": \"{{ $env.APP_URL }}/emergencias?status=failed\"\n  },\n  \"auto_return\": \"approved\"\n}",
        "options": {}
      }
    },
    {
      "id": "node-update-mp-pref",
      "name": "Supabase: Store MP Preference ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3360, -400],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/emergency_requests?id=eq.{{ $('Supabase: Create Emergency Request').first().json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"status\": \"payment_pending\",\n  \"mp_preference_id\": \"{{ $json.id }}\",\n  \"mp_external_reference\": \"{{ $('Supabase: Create Emergency Request').first().json.id }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "node-wa-payment-link",
      "name": "WhatsApp: Enviá el link de pago al cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3600, -400],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WHATSAPP_API_URL }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "D360-API-KEY", "value": "={{ $env.WHATSAPP_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('POST /webhook/emergency').first().json.body.client_phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"✅ *Encontramos un profesional disponible*\\n\\n*{{ $('Loop: Providers Queue').first().json.name }}* aceptó tu solicitud de emergencia.\\n\\nPagá $20.000 ARS para recibir su WhatsApp:\\n{{ $('MercadoPago: Create Preference').first().json.init_point }}\\n\\nTu contacto se revela automáticamente al confirmar el pago.\"\n  }\n}",
        "options": {}
      }
    },
    {
      "id": "node-respond-success",
      "name": "Respond: Matched OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3840, -400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"status\": \"matched\" }",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "node-wa-buscando",
      "name": "WhatsApp: Buscando otro profesional",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 0],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WHATSAPP_API_URL }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "D360-API-KEY", "value": "={{ $env.WHATSAPP_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('POST /webhook/emergency').first().json.body.client_phone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"⏳ El profesional no está disponible. Buscando otro...\" }\n}",
        "options": {}
      }
    },
    {
      "id": "node-check-if-matched",
      "name": "Supabase: ¿Se encontró match?",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 400],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/emergency_requests",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,status" },
            { "name": "id",     "value": "=eq.{{ $('Supabase: Create Emergency Request').first().json.id }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-if-was-matched",
      "name": "IF: Se encontró match?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1680, 400],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-was-matched",
              "leftValue": "={{ $json.status }}",
              "rightValue": "searching",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-noop-already-matched",
      "name": "NoOp: Ya encontró match",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1920, 200],
      "parameters": {}
    },
    {
      "id": "node-wa-failed",
      "name": "WhatsApp: Sin disponibilidad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 600],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WHATSAPP_API_URL }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "D360-API-KEY", "value": "={{ $env.WHATSAPP_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('POST /webhook/emergency').first().json.body.client_phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"😔 Lo sentimos, ningún profesional está disponible en este momento para tu emergencia. Podés intentarlo de nuevo en 15 minutos o llamar directamente a nuestro número de urgencias.\"\n  }\n}",
        "options": {}
      }
    },
    {
      "id": "node-update-failed",
      "name": "Supabase: Update — Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 600],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/emergency_requests?id=eq.{{ $('Supabase: Create Emergency Request').first().json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={ \"status\": \"failed\" }",
        "options": {}
      }
    },
    {
      "id": "node-respond-failed",
      "name": "Respond: Queue Exhausted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2400, 600],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": false, \"reason\": \"queue_exhausted\" }",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "POST /webhook/emergency": {
      "main": [[{ "node": "Supabase: Get Emergency Providers", "type": "main", "index": 0 }]]
    },
    "Supabase: Get Emergency Providers": {
      "main": [[{ "node": "Code: Sort by Tier then Rating", "type": "main", "index": 0 }]]
    },
    "Code: Sort by Tier then Rating": {
      "main": [[{ "node": "IF: Providers Available?", "type": "main", "index": 0 }]]
    },
    "IF: Providers Available?": {
      "main": [
        [{ "node": "Supabase: Create Emergency Request", "type": "main", "index": 0 }],
        [{ "node": "WhatsApp: Sin profesionales disponibles", "type": "main", "index": 0 }]
      ]
    },
    "WhatsApp: Sin profesionales disponibles": {
      "main": [[{ "node": "Respond: No hay profesionales", "type": "main", "index": 0 }]]
    },
    "Supabase: Create Emergency Request": {
      "main": [[{ "node": "Loop: Providers Queue", "type": "main", "index": 0 }]]
    },
    "Loop: Providers Queue": {
      "main": [
        [{ "node": "Supabase: Check Request Status", "type": "main", "index": 0 }],
        [{ "node": "Supabase: ¿Se encontró match?",  "type": "main", "index": 0 }]
      ]
    },
    "Supabase: Check Request Status": {
      "main": [[{ "node": "IF: Still Searching?", "type": "main", "index": 0 }]]
    },
    "IF: Still Searching?": {
      "main": [
        [{ "node": "Supabase: Store Resume URL", "type": "main", "index": 0 }],
        [{ "node": "NoOp: Ya encontró match",    "type": "main", "index": 0 }]
      ]
    },
    "Supabase: Store Resume URL": {
      "main": [[{ "node": "WhatsApp: Solicitud a Prestador", "type": "main", "index": 0 }]]
    },
    "WhatsApp: Solicitud a Prestador": {
      "main": [[{ "node": "Wait: Respuesta del Prestador (90s)", "type": "main", "index": 0 }]]
    },
    "Wait: Respuesta del Prestador (90s)": {
      "main": [[{ "node": "IF: Prestador Aceptó?", "type": "main", "index": 0 }]]
    },
    "IF: Prestador Aceptó?": {
      "main": [
        [{ "node": "Supabase: Update — Matched",           "type": "main", "index": 0 }],
        [{ "node": "WhatsApp: Buscando otro profesional",  "type": "main", "index": 0 }]
      ]
    },
    "Supabase: Update — Matched": {
      "main": [[{ "node": "MercadoPago: Create Preference", "type": "main", "index": 0 }]]
    },
    "MercadoPago: Create Preference": {
      "main": [[{ "node": "Supabase: Store MP Preference ID", "type": "main", "index": 0 }]]
    },
    "Supabase: Store MP Preference ID": {
      "main": [[{ "node": "WhatsApp: Enviá el link de pago al cliente", "type": "main", "index": 0 }]]
    },
    "WhatsApp: Enviá el link de pago al cliente": {
      "main": [[{ "node": "Respond: Matched OK", "type": "main", "index": 0 }]]
    },
    "WhatsApp: Buscando otro profesional": {
      "main": [[{ "node": "Loop: Providers Queue", "type": "main", "index": 0 }]]
    },
    "Supabase: ¿Se encontró match?": {
      "main": [[{ "node": "IF: Se encontró match?", "type": "main", "index": 0 }]]
    },
    "IF: Se encontró match?": {
      "main": [
        [{ "node": "NoOp: Ya encontró match",       "type": "main", "index": 0 }],
        [{ "node": "WhatsApp: Sin disponibilidad",  "type": "main", "index": 0 }]
      ]
    },
    "WhatsApp: Sin disponibilidad": {
      "main": [[{ "node": "Supabase: Update — Failed", "type": "main", "index": 0 }]]
    },
    "Supabase: Update — Failed": {
      "main": [[{ "node": "Respond: Queue Exhausted", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [{ "name": "oficio" }, { "name": "emergency" }]
}
